.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.error {
  visibility: hidden;

  &.display {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.indicator {
  visibility: hidden;

  &.display {
    visibility: visible;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 100%;
    background: rgba(25, 26, 31);

    .loader {
      position: relative;
      top: 50%;
      width: 1em;
      height: 4em;
      margin: 0 auto;
      transform: translateY(-50%);
      background: rgb(113, 229, 215);
      font-size: 10px;
      color: rgb(113, 229, 215);
      text-indent: -9999em;
      animation: 1s ease-in-out -0.16s infinite normal none running loader-sync;

      &::before {
        position: absolute;
        top: 0;
        left: -1.5em;
        width: 1em;
        height: 4em;
        background: rgb(113, 229, 215);
        animation: 1s ease-in-out -0.32s infinite normal none running loader-sync;
        content: "";
      }

      &::after {
        position: absolute;
        top: 0;
        left: 1.5em;
        width: 1em;
        height: 4em;
        background: rgb(113, 229, 215);
        animation: 1s ease-in-out 0.08s infinite normal none running loader-sync;
        content: "";
      }
    }
  }
}

.scroll_hide {
  overflow: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;

  @include mobile {
    min-width: 320px;
    max-width: none;
    padding: 0 16px;
  }
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ccc;
    color: #000;
    transform: translateY(-100%);

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.scroll_top {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
}
