* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont,
    NotoSans, "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
  color: #222222;
  letter-spacing: 0em;
  background-color: rgb(25, 26, 31);
  color: rgb(255, 255, 255);

  @include desktop {
    zoom: 0.9;
  }

  @include largeDevice {
    zoom: 0.9;
  }

  @include mediumLargeTablet {
    zoom: 0.75;
  }

  @include mediumDevice {
    zoom: 0.7;
  }

  @include smallDevice {
    zoom: 0.65;
  }

  @include mobile {
    zoom: 1;
  }
}

fieldset {
  border: 0;
}

input,
button {
  appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
