@font-face {
  font-family: "Poppins";
  src: url('../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2') format('woff2');
  font-weight: 500;
}


@font-face {
  font-family: "Poppins";
  src: url('../fonts/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2') format('woff2');
  font-weight: 400;
}

// font-family: "Apple SD Gothic Neo",
// -apple-system,
// BlinkMacSystemFont,
// NotoSans,
// "Malgun Gothic",
// "맑은 고딕",
// helvetica,
// sans-serif;