/* footer */
.footer {
  background-color: black;
  color: rgb(177, 181, 194);
  padding: 80px 0;
  min-width: 320px;

  @include mobile {
    padding: 24px 0;

    .inner {
      min-height: 340px;
    }
  }

  .bar {
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0px 12px;
    background-color: rgb(153, 153, 153);
    opacity: 0.4;

    @include mobile {
      height: 12px;
    }
  }

  .top-footer.pc {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.24);

    @include mobile {
      display: none;
    }

    .group-left {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 16px;

      .group-link {
        .link-list {
          display: flex;
        }

        .link-item {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.1;
          }

          &:nth-child(1) {
            color: rgb(126, 133, 255);
          }

          &.flower {
            a {
              &::before {
                content: "";
                display: block;
                background: url("../images/sprite.svg") no-repeat;
                background-position: 2.016985138% 100%;
                width: 38px;
                height: 39px;
              }
            }
          }

          &.blog {
            a {
              &::before {
                content: "";
                display: block;
                background: url("../images/sprite.svg") no-repeat;
                background-position: 0 100%;
                width: 38px;
                height: 39px;
              }
            }
          }

          &.tv {
            a {
              &::before {
                content: "";
                display: block;
                background: url("../images/sprite.svg") no-repeat;
                background-position: 4.033970276% 100%;
                width: 38px;
                height: 39px;
              }
            }
          }
        }
      }
    }
  }

  .top-footer.mo {
    display: none;

    @include mobile {
      display: block;
    }

    .info {
      margin-top: 22px;

      &-title {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(177, 181, 194);
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          background: url("../images/sprite.svg");
          background-position: 84.3209229156% 89.2717306186%;
          width: 15px;
          height: 14px;
          transform: rotate(90deg);
        }
      }

      .address {
        display: none;
      }

      &.on {
        .address {
          display: block;
          font-style: normal;
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: 8px;

          .paragraph {
            display: flex;
            flex-direction: column;

            span {
              font-size: 12px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(124, 130, 150);
            }
          }
        }

        .info-title {
          &:after {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .link-customer {
      display: flex;
      align-items: center;
      width: 220px;
      height: 39px;
      padding: 1px 12px 0px 18px;
      margin-top: 10px;
      border: 1px solid rgb(38, 42, 53);
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: rgb(177, 181, 194);

      &::after {
        content: "";
        display: block;
        background: url("../images/sprite.svg");
        background-position: 84.3209229156% 89.2717306186%;
        width: 15px;
        height: 14px;
      }
    }

  }

  .related {
    border: 1px solid rgb(38, 42, 53);
    border-radius: 4px;
    padding: 1px 12px 0px 16px;
    position: relative;
    cursor: pointer;

    @include mobile {
      width: 115px;
      padding: 1px 12px 0px 12px;
    }

    &-title {
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;
      display: flex;
      align-items: center;
      gap: 4px;

      @include mobile {
        line-height: 34px;
        height: 34px;
        gap: 0;
      }

      &:after {
        content: "";
        display: block;
        background: url("../images/sprite.svg") no-repeat;
        background-position: 73.1578947368% 92.5137903861%;
        width: 22px;
        height: 22px;
      }
    }

    .related-list {
      display: none;
    }

    &.on {
      background: #fff;
      color: #000;

      .related-title {
        &:after {
          transform: rotate(45deg);
        }
      }

      .related-list {
        display: block;
        width: 230px;
        position: absolute;
        bottom: 12px;
        right: 0;
        transform: translateY(-27px);
        background: #fff;
        z-index: 1;
        overflow-y: scroll;
        padding: 18px;

        &>*+* {
          border-top: 1px solid rgb(222, 222, 222);
          padding-top: 10px;
          margin-top: 10px;
        }

        .related-item {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }
    }
  }

  .bottom-footer.pc {
    margin-top: 32.5px;
    display: flex;
    align-items: flex-start;

    @include mobile {
      display: none;
    }

    .paragraph {
      display: flex;
    }

    .address {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-style: normal;
      color: rgb(124, 130, 150);

      span {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .link-customer {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-left: auto;
      border: 1px solid rgb(38, 42, 53);
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;
      padding: 1px 12px 0px 16px;

      &::after {
        content: "";
        display: block;
        background: url("../images/sprite.svg") no-repeat;
        background-position: 84.3209229156% 89.2717306186%;
        width: 15px;
        height: 14px;
      }
    }
  }

  .bottom-footer.mo {
    display: none;

    @include mobile {
      display: block;
      margin-top: 47px;
    }

    .link-list {
      display: flex;
      flex-direction: column;

      .link-item {
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            a {
              font-size: 13px;
              font-weight: 400;
              line-height: 24px;

              &.term {
                color: rgb(126, 133, 255);
              }
            }

          }
        }
      }

    }

    .related {
      margin-top: 14px;
    }
  }

}