.footer {
  min-width: 320px;
  padding: 80px 0;
  background-color: black;
  color: rgb(177, 181, 194);

  @include mobile {
    padding: 24px 0;
  }

  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mobile {
      min-height: 340px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .pc_footer_logo {
    display: block;
    @include mobile {
      display: none;
    }
  }

  .mobile_footer_logo {
    display: none;
    @include mobile {
      display: block;
    }
  }

  &_link_area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: auto;

    @include mobile {
      width: 100%;
      order: 2;
      margin-top: 47px;
    }
  }
  .resource {
    &_list {
      display: flex;
      flex-wrap: wrap;
      width: 85%;
    }

    &_item {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        color: rgb(126, 133, 255);
      }

      &:not(:last-child)::after {
        display: block;
        width: 1px;
        height: 14px;
        margin: 0 12px;
        background-color: rgb(153, 153, 153);
        opacity: 0.4;
        content: "";

        @include mobile {
          height: 12px;
        }
      }
    }
    &_link {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.1;

      @include mobile {
        font-size: 13px;
        line-height: 24px;
      }

      &.flower,
      &.blog,
      &.tv {
        &::before {
          display: block;
          width: 38px;
          height: 39px;
          background: url("../images/sp_sprite.svg") no-repeat;
          content: "";
        }

        @include mobile {
          &::before {
            display: none;
          }
        }
      }

      &.flower {
        &::before {
          background-position: 2.016985138% 100%;
        }
      }
      &.blog {
        &::before {
          background-position: 0 100%;
        }
      }
      &.tv {
        &::before {
          background-position: 4.033970276% 100%;
        }
      }
    }
  }

  .related {
    &_area {
      position: relative;
      padding: 1px 12px 0 16px;
      border: 1px solid rgb(38, 42, 53);
      border-radius: 4px;
      cursor: pointer;

      @include mobile {
        width: 115px;
        padding: 1px 12px 0 12px;
      }

      &.is_show {
        background: #fff;
        color: #000;

        .related_box {
          overflow-y: scroll;
          display: block;
          position: absolute;
          bottom: 12px;
          right: 0;
          transform: translateY(-27px);
          z-index: 1;
          width: 230px;
          padding: 18px;
          background: #fff;

          @include mobile {
            left: 0;
            color: rgb(138, 141, 145);
          }

          & > * + * {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid rgb(222, 222, 222);
          }

          .related_list {
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            line-height: 24px;
          }
        }
      }
    }

    &_box {
      display: none;
    }

    &_title {
      display: flex;
      align-items: center;
      gap: 4px;
      width: 100%;
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;

      @include mobile {
        gap: 0;
        height: 34px;
        line-height: 34px;
      }

      &:after {
        display: block;
        width: 22px;
        height: 22px;
        background: url("../images/sp_sprite.svg") no-repeat;
        background-position: 73.1578947368% 92.5137903861%;
        content: "";
      }
    }
  }

  .company_info {
    &_wrap {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-top: 35px;
      padding-top: 32.5px;
      border-top: 1px solid rgba(153, 153, 153, 0.24);

      @include mobile {
        display: block;
        margin-top: 22px;
        padding: 0;
        border: 0;

        &.is_show {
          .company_info_title {
            &:after {
              transform: rotate(270deg);
            }
          }
          .company_info_area {
            display: flex;
            margin-top: 8px;
          }
        }
      }
    }
    &_area {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-style: normal;
      color: rgb(124, 130, 150);

      @include mobile {
        display: none;
      }
    }
    &_box {
      display: flex;

      @include mobile {
        flex-direction: column;
      }
      .info_item {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: rgb(124, 130, 150);
        line-height: 20px;
      }
    }

    &_title {
      display: none;

      @include mobile {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 13px;
        font-weight: 400;
        color: rgb(177, 181, 194);
        line-height: 20px;
        cursor: pointer;

        &:after {
          display: block;
          width: 15px;
          height: 14px;
          transform: rotate(90deg);
          background: url("../images/sp_sprite.svg");
          background-position: 84.3209229156% 89.2717306186%;
          content: "";
        }
      }
    }
  }

  .divider {
    &::after {
      display: block;
      width: 1px;
      height: 14px;
      margin: 0 12px;
      background-color: rgb(153, 153, 153);
      opacity: 0.4;
      content: "";
    }
    @include mobile {
      &::after {
        display: none;
      }
    }
  }

  .link_customer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    padding: 1px 12px 0 16px;
    border: 1px solid rgb(38, 42, 53);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;

    @include mobile {
      gap: 0;
      width: 220px;
      height: 39px;
      padding: 1px 12px 0 18px;
      margin-top: 10px;
      margin-left: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &::after {
      display: block;
      width: 15px;
      height: 14px;
      background: url("../images/sp_sprite.svg") no-repeat;
      background-position: 84.3209229156% 89.2717306186%;
      content: "";
    }
  }
}
