@charset "UTF-8";
@keyframes opacityAni {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
@keyframes loader-sync {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, NotoSans, "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
  color: #222222;
  letter-spacing: 0;
  background-color: rgb(25, 26, 31);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1263px) {
  body {
    zoom: 0.9;
  }
}
@media screen and (max-width: 1200px) {
  body {
    zoom: 0.9;
  }
}
@media screen and (max-width: 1100px) {
  body {
    zoom: 0.75;
  }
}
@media screen and (max-width: 1000px) {
  body {
    zoom: 0.7;
  }
}
@media screen and (max-width: 900px) {
  body {
    zoom: 0.65;
  }
}
@media screen and (max-width: 850px) {
  body {
    zoom: 1;
  }
}

fieldset {
  border: 0;
}

input,
button {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.error {
  visibility: hidden;
}
.error.display {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgb(25, 26, 31);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.indicator {
  visibility: hidden;
}
.indicator.display {
  visibility: visible;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  background: rgb(25, 26, 31);
}
.indicator.display .loader {
  position: relative;
  top: 50%;
  width: 1em;
  height: 4em;
  margin: 0 auto;
  transform: translateY(-50%);
  background: rgb(113, 229, 215);
  font-size: 10px;
  color: rgb(113, 229, 215);
  text-indent: -9999em;
  animation: 1s ease-in-out -0.16s infinite normal none running loader-sync;
}
.indicator.display .loader::before {
  position: absolute;
  top: 0;
  left: -1.5em;
  width: 1em;
  height: 4em;
  background: rgb(113, 229, 215);
  animation: 1s ease-in-out -0.32s infinite normal none running loader-sync;
  content: "";
}
.indicator.display .loader::after {
  position: absolute;
  top: 0;
  left: 1.5em;
  width: 1em;
  height: 4em;
  background: rgb(113, 229, 215);
  animation: 1s ease-in-out 0.08s infinite normal none running loader-sync;
  content: "";
}

.scroll_hide {
  overflow: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .inner {
    min-width: 320px;
    max-width: none;
    padding: 0 16px;
  }
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
#skip a {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ccc;
  color: #000;
  transform: translateY(-100%);
}
#skip a:focus, #skip a:active {
  transform: translateY(0);
}

.scroll_top {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  color: rgb(255, 255, 255);
  width: 100%;
  background: rgba(25, 26, 31, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header.is_gnb_active {
  background-color: rgba(0, 0, 0, 0.9);
}
.header .back_dimmed {
  content: "";
  position: absolute;
  top: calc(100% - 80px);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: rgba(25, 26, 31, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header .inner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
@media screen and (max-width: 850px) {
  .header .inner {
    height: 60px;
  }
}
.header .logo {
  width: 205px;
  height: 28px;
  background: url("../images/img_logo.svg") 0px 50%/205px no-repeat;
  cursor: pointer;
}
.header .utility_area {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .utility_area .notice_link {
  padding: 5px 8px 3px;
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 850px) {
  .header .utility_area .notice_link {
    display: none;
  }
}
.header .utility_area .search_button,
.header .utility_area .hamburger_menu {
  width: 38px;
  height: 38px;
  background-image: url("../images/sp_sprite.svg");
}
.header .utility_area .search_button {
  margin-right: 8px;
  background-position: 22.186836518% 99.9201915403%;
}
.header .utility_area .search_button.is_gnb_active {
  background-position: 12.101910828% 99.9201915403%;
}
.header .utility_area .profile_image {
  position: relative;
  cursor: pointer;
}
.header .utility_area .profile_image:before {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../images/img_profile_image.png");
  background-size: cover;
  border-radius: 50%;
  content: "";
}
.header .utility_area .profile_image .my_information_area {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-width: 186px;
  height: 342px;
  padding: 22px 0;
  border-radius: 8px;
  background: rgba(25, 26, 31, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  transition: height 0.1s ease;
}
.header .utility_area .profile_image .my_information_area .hr {
  width: 100%;
  height: 1px;
  margin: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
.header .utility_area .profile_image .my_information_area .information_box {
  padding: 0 22px;
}
.header .utility_area .profile_image .my_information_area .information_box .greetings {
  margin-top: 12px;
}
.header .utility_area .profile_image .my_information_area .information_box .greetings .message {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.header .utility_area .profile_image .my_information_area .information_box .greetings .message .name {
  color: rgb(113, 229, 215);
}
.header .utility_area .profile_image .my_information_area .information_box .my_info,
.header .utility_area .profile_image .my_information_area .information_box .my_usage,
.header .utility_area .profile_image .my_information_area .information_box .my_point,
.header .utility_area .profile_image .my_information_area .information_box .my_reservation,
.header .utility_area .profile_image .my_information_area .information_box .logout {
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 18px;
}
.header .utility_area .profile_image .my_information_area .information_box .my_info::before,
.header .utility_area .profile_image .my_information_area .information_box .my_usage::before,
.header .utility_area .profile_image .my_information_area .information_box .my_point::before,
.header .utility_area .profile_image .my_information_area .information_box .my_reservation::before,
.header .utility_area .profile_image .my_information_area .information_box .logout::before {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../images/sp_sprite.svg");
  content: "";
}
.header .utility_area .profile_image .my_information_area .information_box .my_info::before {
  background-position: 57.2478991597% 90.8091123331%;
}
.header .utility_area .profile_image .my_information_area .information_box .my_usage::before {
  background-position: 60.0840336134% 90.8091123331%;
}
.header .utility_area .profile_image .my_information_area .information_box .my_point::before {
  background-position: 74.1596638655% 92.2955974843%;
}
.header .utility_area .profile_image .my_information_area .information_box .my_reservation::before {
  background-position: 75.1050420168% 92.2955974843%;
}
.header .utility_area .profile_image .my_information_area .information_box .logout::before {
  background-position: 56.3025210084% 90.8091123331%;
}
.header .utility_area .profile_image:hover .my_information_area {
  visibility: visible;
}
@media screen and (max-width: 850px) {
  .header .utility_area .profile_image {
    display: none;
  }
}
.header .utility_area .hamburger_menu {
  display: none;
  background-position: 14.118895966% 99.9201915403%;
}
@media screen and (max-width: 850px) {
  .header .utility_area .hamburger_menu {
    display: block;
  }
  .header .utility_area .hamburger_menu[aria-pressed=true] {
    background-position: 10.08492569% 99.9201915403%;
  }
}

.gnb_pc {
  height: 100%;
}
@media screen and (max-width: 850px) {
  .gnb_pc {
    display: none;
  }
}
.gnb_pc .nav_list {
  display: flex;
  height: 100%;
}
.gnb_pc .nav_item {
  position: relative;
  display: flex;
  align-items: center;
}
.gnb_pc .nav_item_title {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 80px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.gnb_pc .sub_list {
  display: none;
  position: absolute;
  top: 100%;
  padding-bottom: 18px;
}
.gnb_pc .sub_list.is_show {
  display: block;
  width: 100%;
}
.gnb_pc .sub_item {
  padding: 9px 0;
  font-size: 15px;
  line-height: 18px;
}

.gnb_mobile {
  display: none;
}
@media screen and (max-width: 850px) {
  .gnb_mobile {
    overflow-y: auto;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 3;
    padding: 11px 0 80px 0;
  }
  .gnb_mobile.is_active {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  .gnb_mobile .nav_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .gnb_mobile .nav_list:nth-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  .gnb_mobile .nav_list:nth-child(1) .nav_item_title {
    padding-bottom: 27px;
  }
  .gnb_mobile .nav_list:nth-child(1) .login {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .gnb_mobile .nav_list:nth-child(1) .login .profile_image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-image: url("../images/img_profile_image.png");
    background-size: cover;
  }
  .gnb_mobile .nav_list:nth-child(1) .login .greetings {
    display: flex;
    flex-direction: column;
  }
  .gnb_mobile .nav_list:nth-child(1) .login .message {
    font-size: 14px;
    color: rgb(177, 181, 194);
    line-height: 20px;
  }
  .gnb_mobile .nav_list:nth-child(1) .login .user_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .gnb_mobile .nav_list:nth-child(1) .login .user_name .name {
    color: rgb(113, 229, 215);
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_list {
    gap: 26px;
    padding: 20px 16px 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_list.is_show {
    padding: 20px 16px 20px 0;
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_item {
    height: auto;
    border-radius: 0;
    background-color: transparent;
    font-size: 18px;
    color: inherit;
    line-height: 1;
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_item.point_item {
    flex-direction: column;
    align-items: flex-start;
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gnb_mobile .nav_list:nth-child(1) .sub_item_title::after {
    display: block;
    width: 39px;
    height: 38px;
    background: url("../images/sp_sprite.svg") no-repeat;
    background-position: 95.5921402018% 86.3527533919%;
    transform: rotate(-90deg);
    content: "";
  }
  .gnb_mobile .nav_list:nth-child(1) .count {
    color: rgb(113, 229, 215);
  }
  .gnb_mobile .nav_list:nth-child(1) .point {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    margin: 14px 0 0 0;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 700;
    font-size: 11px;
    color: rgb(0, 0, 0);
  }
  .gnb_mobile .nav_list:nth-child(n+3) .nav_item_title::after {
    display: none;
  }
  .gnb_mobile .nav_item {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 22px;
  }
  .gnb_mobile .nav_item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .gnb_mobile .nav_item_title[aria-expanded=true]::after {
    transform: rotate(180deg);
  }
  .gnb_mobile .nav_item_title[aria-expanded=true] + .sub_list {
    display: flex;
    flex-direction: column;
    padding: 5px 16px 0 16px;
  }
  .gnb_mobile .nav_item_title::after {
    display: block;
    width: 39px;
    height: 38px;
    background: url("../images/sp_sprite.svg") no-repeat;
    background-position: 95.5921402018% 86.3527533919%;
    content: "";
  }
  .gnb_mobile .sub_list {
    display: none;
  }
  .gnb_mobile .sub_item {
    height: 40px;
    margin-top: 2px;
    padding: 0 16px;
    background-color: rgb(25, 26, 31);
    font-size: 16px;
    font-weight: 400;
    color: rgb(177, 181, 194);
    line-height: 40px;
  }
  .gnb_mobile .sub_item:first-child {
    border-radius: 8px 8px 0 0;
  }
  .gnb_mobile .sub_item:last-child {
    border-radius: 0 0 8px 8px;
  }
}

.floating_menu {
  display: none;
  border-top: 1px solid rgb(38, 42, 53);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}
.floating_menu.is_active {
  display: block;
  position: relative;
  z-index: 1;
}
.is_search_area_active .floating_menu {
  display: none;
}
.floating_menu .inner {
  height: 52px;
}
@media screen and (max-width: 850px) {
  .floating_menu .inner {
    padding: 0;
    padding-right: 16px;
  }
}
.floating_menu .inner .swiper-wrapper {
  font-size: 0;
  color: rgb(177, 181, 194);
}
.floating_menu .inner .swiper-slide {
  display: inline-block;
  width: auto !important;
  padding: 18px 0 14px;
}
.floating_menu .inner .swiper-slide.is_active {
  color: rgb(113, 229, 215);
}
.floating_menu .inner .swiper-slide:nth-child(1) {
  padding-left: 16px;
}
.floating_menu .inner .swiper-slide .menu_link {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
@media screen and (max-width: 850px) {
  .floating_menu .inner .swiper-slide .menu_link {
    font-size: 14px;
    line-height: 20px;
  }
}

.search_area {
  display: none;
  border-top: 1px solid rgb(38, 42, 53);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}
.is_search_area_active .search_area {
  display: block;
  position: relative;
  z-index: 1;
}
.search_area .inner {
  position: relative;
  padding: 16px 180px;
}
@media screen and (max-width: 850px) {
  .search_area .inner {
    padding: 11px 55px 11px 17px;
  }
}
.search_area .input_box {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 48px;
  padding: 12px 52px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 71, 88);
  border-radius: 8px;
}
@media screen and (max-width: 850px) {
  .search_area .input_box {
    max-width: none;
    height: 38px;
    padding: 10px 35px 8px;
  }
}
.search_area .search_icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 850px) {
  .search_area .search_icon {
    top: 7px;
    left: 8px;
    width: 24px;
    height: 24px;
  }
}
.search_area .search_input {
  width: 100%;
  height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: inherit;
  line-height: 24px;
}
@media screen and (max-width: 850px) {
  .search_area .search_input {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
.search_area .search_close_button {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .search_area .search_close_button {
    right: 15px;
  }
}
.search_area .search_close_button svg {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 850px) {
  .search_area .search_close_button svg {
    display: none;
  }
}

.footer {
  min-width: 320px;
  padding: 80px 0;
  background-color: black;
  color: rgb(177, 181, 194);
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 24px 0;
  }
}
.footer .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .footer .inner {
    min-height: 340px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .pc_footer_logo {
  display: block;
}
@media screen and (max-width: 850px) {
  .footer .pc_footer_logo {
    display: none;
  }
}
.footer .mobile_footer_logo {
  display: none;
}
@media screen and (max-width: 850px) {
  .footer .mobile_footer_logo {
    display: block;
  }
}
.footer_link_area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-left: auto;
}
@media screen and (max-width: 850px) {
  .footer_link_area {
    width: 100%;
    order: 2;
    margin-top: 47px;
  }
}
.footer .resource_list {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
.footer .resource_item {
  display: flex;
  align-items: center;
}
.footer .resource_item:nth-child(1) {
  color: rgb(126, 133, 255);
}
.footer .resource_item:not(:last-child)::after {
  display: block;
  width: 1px;
  height: 14px;
  margin: 0 12px;
  background-color: rgb(153, 153, 153);
  opacity: 0.4;
  content: "";
}
@media screen and (max-width: 850px) {
  .footer .resource_item:not(:last-child)::after {
    height: 12px;
  }
}
.footer .resource_link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
}
@media screen and (max-width: 850px) {
  .footer .resource_link {
    font-size: 13px;
    line-height: 24px;
  }
}
.footer .resource_link.flower::before, .footer .resource_link.blog::before, .footer .resource_link.tv::before {
  display: block;
  width: 38px;
  height: 39px;
  background: url("../images/sp_sprite.svg") no-repeat;
  content: "";
}
@media screen and (max-width: 850px) {
  .footer .resource_link.flower::before, .footer .resource_link.blog::before, .footer .resource_link.tv::before {
    display: none;
  }
}
.footer .resource_link.flower::before {
  background-position: 2.016985138% 100%;
}
.footer .resource_link.blog::before {
  background-position: 0 100%;
}
.footer .resource_link.tv::before {
  background-position: 4.033970276% 100%;
}
.footer .related_area {
  position: relative;
  padding: 1px 12px 0 16px;
  border: 1px solid rgb(38, 42, 53);
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .footer .related_area {
    width: 115px;
    padding: 1px 12px 0 12px;
  }
}
.footer .related_area.is_show {
  background: #fff;
  color: #000;
}
.footer .related_area.is_show .related_box {
  overflow-y: scroll;
  display: block;
  position: absolute;
  bottom: 12px;
  right: 0;
  transform: translateY(-27px);
  z-index: 1;
  width: 230px;
  padding: 18px;
  background: #fff;
}
@media screen and (max-width: 850px) {
  .footer .related_area.is_show .related_box {
    left: 0;
    color: rgb(138, 141, 145);
  }
}
.footer .related_area.is_show .related_box > * + * {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid rgb(222, 222, 222);
}
.footer .related_area.is_show .related_box .related_list {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}
.footer .related_box {
  display: none;
}
.footer .related_title {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
@media screen and (max-width: 850px) {
  .footer .related_title {
    gap: 0;
    height: 34px;
    line-height: 34px;
  }
}
.footer .related_title:after {
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/sp_sprite.svg") no-repeat;
  background-position: 73.1578947368% 92.5137903861%;
  content: "";
}
.footer .company_info_wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 35px;
  padding-top: 32.5px;
  border-top: 1px solid rgba(153, 153, 153, 0.24);
}
@media screen and (max-width: 850px) {
  .footer .company_info_wrap {
    display: block;
    margin-top: 22px;
    padding: 0;
    border: 0;
  }
  .footer .company_info_wrap.is_show .company_info_title:after {
    transform: rotate(270deg);
  }
  .footer .company_info_wrap.is_show .company_info_area {
    display: flex;
    margin-top: 8px;
  }
}
.footer .company_info_area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
  color: rgb(124, 130, 150);
}
@media screen and (max-width: 850px) {
  .footer .company_info_area {
    display: none;
  }
}
.footer .company_info_box {
  display: flex;
}
@media screen and (max-width: 850px) {
  .footer .company_info_box {
    flex-direction: column;
  }
}
.footer .company_info_box .info_item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  color: rgb(124, 130, 150);
  line-height: 20px;
}
.footer .company_info_title {
  display: none;
}
@media screen and (max-width: 850px) {
  .footer .company_info_title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(177, 181, 194);
    line-height: 20px;
    cursor: pointer;
  }
  .footer .company_info_title:after {
    display: block;
    width: 15px;
    height: 14px;
    transform: rotate(90deg);
    background: url("../images/sp_sprite.svg");
    background-position: 84.3209229156% 89.2717306186%;
    content: "";
  }
}
.footer .divider::after {
  display: block;
  width: 1px;
  height: 14px;
  margin: 0 12px;
  background-color: rgb(153, 153, 153);
  opacity: 0.4;
  content: "";
}
@media screen and (max-width: 850px) {
  .footer .divider::after {
    display: none;
  }
}
.footer .link_customer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  padding: 1px 12px 0 16px;
  border: 1px solid rgb(38, 42, 53);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}
@media screen and (max-width: 850px) {
  .footer .link_customer {
    gap: 0;
    width: 220px;
    height: 39px;
    padding: 1px 12px 0 18px;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}
.footer .link_customer::after {
  display: block;
  width: 15px;
  height: 14px;
  background: url("../images/sp_sprite.svg") no-repeat;
  background-position: 84.3209229156% 89.2717306186%;
  content: "";
}

.container {
  min-width: 320px;
  margin-top: 155px;
}
@media screen and (max-width: 850px) {
  .container {
    margin-top: 90px;
  }
}
.container > * + * {
  margin-top: 92px;
}
@media screen and (max-width: 850px) {
  .container > * + * {
    margin-top: 56px;
  }
}
.container .headline {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
@media screen and (max-width: 850px) {
  .container .headline {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
  }
}

.swiper .swiper-slide {
  position: relative;
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide {
    width: auto !important;
  }
}
.swiper .swiper-slide .link_slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.swiper .swiper-slide .image_box {
  position: relative;
}
.swiper .swiper-slide .image_box img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide .bookmark_box::before {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 3s;
  content: "";
}
.swiper .swiper-slide .bookmark_box .save_message {
  opacity: 0;
  visibility: hidden; /* 초기값 설정 */
  transition: visibility 0s 3s, opacity 3s;
}
.swiper .swiper-slide .bookmark_box .bookmark + label {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
  background-image: url("../images/sp_sprite.svg");
  background-position: 5.6% 100.7%;
  cursor: pointer;
}
.swiper .swiper-slide .bookmark_box.is_checked::before {
  opacity: 1;
  z-index: 1;
}
.swiper .swiper-slide .bookmark_box.is_checked .bookmark + label {
  background-position: 7.7% 100.7%;
}
.swiper .swiper-slide .bookmark_box.is_checked .save_message {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 90%;
  padding: 24px;
  border-radius: 38px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .bookmark_box.is_checked .save_message {
    font-size: 14px;
  }
}
.swiper .swiper-slide .text_box {
  gap: 8px;
  padding: 24px 16px;
  background: rgb(38, 42, 53);
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .text_box {
    padding: 16px 17px 16px 12px;
  }
}
.swiper .swiper-slide .text_box .content {
  margin-top: auto;
}
.swiper .swiper-slide.link_more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 384px;
  height: 397px;
  padding: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.swiper .swiper-slide.link_more .slide {
  padding-left: 16px;
}
.swiper .swiper-slide.link_more .slide::before {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
  background: url("../images/ico_more.png") no-repeat;
  background-size: contain;
  content: "";
}
.swiper .swiper-slide.link_more .course_title {
  color: rgb(113, 229, 215);
}

.content_title {
  overflow: hidden;
  display: block;
  min-height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 850px) {
  .content_title {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
}

.description {
  min-height: 60px;
  margin-top: 16px;
  font-size: 14px;
  color: rgb(177, 181, 194);
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media screen and (max-width: 850px) {
  .description {
    margin-top: 8px;
  }
}

.course_summary {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  font-size: 12px;
  color: rgb(177, 181, 194);
  line-height: 18px;
}
.course_summary .detail_item {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.course_summary > * + *::before {
  content: " ・ ";
}

.text_box_mo {
  display: none;
}
.text_box_mo.is_active {
  position: relative;
  left: 50%;
  transform: translate(-50%, -24%);
  width: 20em;
  padding: 85px 12px 16px 12px;
  border-radius: 8px;
  background: rgb(38, 42, 53);
}
@media screen and (max-width: 850px) {
  .text_box_mo.is_active {
    display: block;
  }
}
.text_box_mo.is_active .content_title {
  min-height: 0;
}
.text_box_mo.is_active .description {
  font-size: 12px;
}
.text_box_mo.is_active .course_summary {
  margin-top: 16px;
}

.tag {
  height: 22px;
  padding: 0 7px;
  border: 1px solid rgb(110, 114, 193);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(126, 133, 255);
  line-height: 22px;
}
@media screen and (max-width: 850px) {
  .tag {
    height: 20px;
    padding: 0 5px;
    font-size: 11px;
    line-height: 20px;
  }
}
.tag_list {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
@media screen and (max-width: 850px) {
  .tag_list {
    margin-top: 8px;
    gap: 6px;
  }
}

.content_box {
  position: relative;
}
.content_box .prev_button,
.content_box .next_button {
  display: none;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  z-index: 1;
  background: url("../images/ico_arrow.png") no-repeat;
  background-size: 48px 48px;
  transform: translateY(-50%);
}
.content_box .prev_button.swiper-button-disabled,
.content_box .next_button.swiper-button-disabled {
  display: none;
}
.content_box .prev_button {
  left: -24px;
  transform: translateY(-50%) rotate(-180deg);
}
.content_box .prev_button.is_show {
  display: block;
}
@media screen and (max-width: 850px) {
  .content_box .prev_button.is_show {
    display: none;
  }
}
.content_box .next_button {
  display: block;
  right: -24px;
}
@media screen and (max-width: 850px) {
  .content_box .next_button {
    display: none;
  }
}

.section_personal {
  width: 100%;
}
.section_personal .headline {
  margin-bottom: 24px;
}
.section_personal .headline .user_name {
  color: rgb(113, 229, 215);
}
.section_personal .personal_support {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support {
    flex-direction: column;
    gap: 16px;
  }
}
.section_personal .personal_support .course_setup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 588px;
  min-height: 276px;
  padding: 40px;
  border-radius: 8px;
  background: #f00;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support .course_setup {
    gap: 0;
    width: 100%;
    min-height: 188px;
    padding: 20px 16px 25px;
  }
}
.section_personal .personal_support .course_setup.course_intro {
  background: url("../images/img_bg_personal_school.png") 50% 50%/100% 100% no-repeat;
}
.section_personal .personal_support .course_setup.course_account {
  background: url("../images/img_bg_personal_account.png") 50% 50%/100% 100% no-repeat;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support .course_setup.course_intro, .section_personal .personal_support .course_setup.course_account {
    background: url("../images/img_bg_personal_school_mo.png") 50% 50%/cover no-repeat;
  }
}
.section_personal .personal_support .course_setup .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support .course_setup .title {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.section_personal .personal_support .course_setup .description {
  font-size: 16px;
  color: rgb(177, 181, 194);
  line-height: 24px;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support .course_setup .description {
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
  }
}
.section_personal .personal_support .course_setup .link_course {
  max-width: 180px;
  min-height: 48px;
  margin-top: auto;
  padding: 0 30px;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 48px;
}
@media screen and (max-width: 850px) {
  .section_personal .personal_support .course_setup .link_course {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 20px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
  }
}

.section_online_education .tab_area {
  overflow: scroll;
  -ms-overflow-style: none;
}
.section_online_education .tab_area::-webkit-scrollbar {
  display: none !important;
}
@media screen and (max-width: 850px) {
  .section_online_education .tab_area {
    display: flex;
  }
}
.section_online_education .tab_list {
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section_online_education .tab_list::-webkit-scrollbar {
  display: none;
}
.section_online_education .tab_item_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 100%;
  font-size: 16px;
  color: rgb(177, 181, 194);
  text-align: center;
  line-height: 24px;
}
.section_online_education .tab_item_title br {
  display: none;
}
.section_online_education .tab_item_title[aria-selected=true] {
  border-bottom: 2px solid rgb(113, 229, 215);
  font-weight: 700;
  color: rgb(113, 229, 215);
}
@media screen and (max-width: 850px) {
  .section_online_education .tab_item_title {
    width: 56px;
    min-width: 80px;
    margin: 0 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .section_online_education .tab_item_title br {
    display: block;
  }
}
.section_online_education .tab_item[data-tab="#online_ai"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_store"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_live"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_ad"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_place"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_blog"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_expert"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_business"] .tab_item_title::before, .section_online_education .tab_item#all .tab_item_title::before {
  overflow: hidden;
  display: block;
  width: 72px;
  height: 72px;
  margin-bottom: 16px;
  border-radius: 50%;
  content: "";
}
@media screen and (max-width: 850px) {
  .section_online_education .tab_item[data-tab="#online_ai"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_store"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_live"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_ad"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_place"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_blog"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_expert"] .tab_item_title::before, .section_online_education .tab_item[data-tab="#online_business"] .tab_item_title::before, .section_online_education .tab_item#all .tab_item_title::before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section_online_education .tab_item[data-tab="#online_ai"] .tab_item_title::before {
  background: url("../images/img_online_education_ai.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_store"] .tab_item_title::before {
  background: url("../images/img_online_education_store.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_live"] .tab_item_title::before {
  background: url("../images/img_online_education_live.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_ad"] .tab_item_title::before {
  background: url("../images/img_online_education_ad.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_place"] .tab_item_title::before {
  background: url("../images/img_online_education_place.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_blog"] .tab_item_title::before {
  background: url("../images/img_online_education_blog.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_expert"] .tab_item_title::before {
  background: url("../images/img_online_education_expert.png") 50% 0/cover;
}
.section_online_education .tab_item[data-tab="#online_expert"] br {
  display: block;
}
.section_online_education .tab_item[data-tab="#online_business"] .tab_item_title::before {
  background: url("../images/img_online_education_business.png") 50% 0/cover;
}
.section_online_education .tab_item#all .tab_item_title::before {
  background: url("../images/img_online_education_all.png") 50% 0/cover;
}
.section_online_education .content_box {
  display: none;
  position: relative;
  padding: 40px 10px 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 850px) {
  .section_online_education .content_box {
    padding: 0;
    padding-top: 20px;
  }
}
.section_online_education .content_box.on {
  display: block;
}
@media screen and (max-width: 850px) {
  .section_online_education .swiper .swiper-slide {
    width: 312px !important;
    margin-right: 16px !important;
  }
}
.section_online_education .swiper .swiper-slide .image_box {
  padding-bottom: 56.1679790026%;
}
.section_online_education .swiper .swiper-slide .image_box img {
  border-radius: 8px 8px 0 0;
}

.section_banner .image_box {
  position: relative;
  padding-bottom: 13.3333333333%;
}
@media screen and (max-width: 850px) {
  .section_banner .image_box {
    padding-bottom: 24.200913242%;
  }
}
.section_banner .image_box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 850px) {
  .section_this_week .text_box,
  .section_new_education .text_box {
    display: none;
  }
}
.section_this_week .image_box,
.section_new_education .image_box {
  padding-bottom: 56.0283687943%;
}
@media screen and (max-width: 850px) {
  .section_this_week .image_box,
  .section_new_education .image_box {
    padding-bottom: 56.1983471074%;
    width: 242px;
    height: 136px;
  }
}
.section_this_week .image_box img,
.section_new_education .image_box img {
  border-radius: 8px 8px 0 0;
}
@media screen and (max-width: 850px) {
  .section_this_week .image_box img,
  .section_new_education .image_box img {
    border-radius: 8px;
  }
}

.section_line_up {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 850px) {
  .section_line_up {
    margin-top: 0;
  }
}
.section_line_up .headline {
  display: flex;
  align-items: center;
}
.section_line_up .headline .tooltip {
  position: relative;
  width: 42px;
  height: 43px;
  background-image: url("../images/sp_sprite.svg");
  background-position: 93.5106382979% 86.6987179487%;
  cursor: pointer;
}
.section_line_up .headline .tooltip .tip {
  display: none;
}
.section_line_up .headline .tooltip[aria-expanded=true] .tip {
  display: block;
  position: absolute;
  top: 30px;
  left: -100%;
  z-index: 2;
  width: 404px;
  height: 170px;
  background-image: url("../images/sp_sprite.svg");
  background-position: 0 96.5209634255%;
  transform: translateX(-34%);
}
@media screen and (max-width: 850px) {
  .section_line_up .swiper .swiper-slide {
    width: 312px !important;
  }
}
@media screen and (max-width: 850px) {
  .section_line_up .swiper .swiper-slide .slide {
    position: relative;
  }
}
.section_line_up .swiper .swiper-slide .image_box {
  padding-bottom: 56.1679790026%;
}
.section_line_up .swiper .swiper-slide .image_box img {
  border-radius: 8px 8px 0 0;
}
.section_line_up .text_box {
  padding: 24px 16px 0;
}
@media screen and (max-width: 850px) {
  .section_line_up .text_box {
    padding: 16px 12px;
  }
}
.section_line_up .more_button {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 16px 0 0;
  text-align: left;
}
.section_line_up .more_button::before {
  display: block;
  width: 12.7px;
  height: 13.5px;
  background-image: url("../images/sp_sprite.svg");
  background-position: 73% 92.3%;
  content: "";
}
@media screen and (max-width: 850px) {
  .section_line_up .more_button {
    padding: 0;
    padding-top: 17px;
  }
}
.section_line_up .more_button[aria-expanded=true] {
  display: none;
}
.section_line_up .more_button[aria-expanded=true] + .more_area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 999em;
  margin-top: 16px;
}
.section_line_up .more_area {
  display: none;
}
.section_line_up .more_title {
  color: rgb(177, 181, 194);
}
.section_line_up .more_content {
  margin-top: 4px;
  min-height: 40px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media screen and (max-width: 850px) {
  .section_notice {
    margin-top: 0;
  }
}
.section_notice .notice_list {
  overflow: hidden;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 850px) {
  .section_notice .notice_list {
    flex-direction: column;
  }
}
.section_notice .notice_item {
  overflow: hidden;
  width: 282px;
  padding: 22px 16px;
  border-radius: 8px;
  background: url("../images/img_bg_notice_pc.png") 50% 50%/cover no-repeat;
}
@media screen and (max-width: 850px) {
  .section_notice .notice_item {
    width: 100%;
    height: 128px;
    padding: 16px;
  }
  .section_notice .notice_item .tag_list {
    margin-top: 0;
  }
  .section_notice .notice_item strong {
    display: block;
    min-height: 40px;
    font-size: 14px;
    line-height: 19px;
  }
}
.section_notice .notice_link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 850px) {
  .section_notice .notice_link {
    gap: 8px;
  }
}
.section_notice .date {
  font-size: 12px;
  color: rgb(177, 181, 194);
  line-height: 18px;
}
.section_notice .link_more {
  display: block;
  max-width: 384px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 30px;
  border-radius: 6px;
  background: rgb(0, 0, 0);
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .section_notice .link_more {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 48px;
    padding: 8px;
    margin-top: 32px;
    font-size: 15px;
  }
}

.section_introduce {
  background: rgb(0, 0, 0);
}
@media screen and (max-width: 850px) {
  .section_introduce {
    margin-top: 70px;
  }
}
.section_introduce .inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  max-width: 1920px;
  padding: 50px 0;
  background-image: url("../images/img_bg_introduce.jpg");
  background-size: cover;
}
@media screen and (max-width: 850px) {
  .section_introduce .inner {
    position: relative;
    min-height: 264px;
    padding: 58px 16px;
    background: url("../images/img_bg_introduce_mo.png") 50% 50%/cover no-repeat;
  }
  .section_introduce .inner::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
  }
}
.section_introduce .title {
  position: relative;
  margin-bottom: 0;
  max-width: 440px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
}
@media screen and (max-width: 850px) {
  .section_introduce .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
}
.section_introduce .title br:nth-child(2) {
  display: none;
}
@media screen and (max-width: 850px) {
  .section_introduce .title br:nth-child(2) {
    display: block;
  }
}
.section_introduce .link_introduce {
  display: block;
  position: relative;
  height: 64px;
  min-width: 234px;
  padding: 0 32px;
  margin: 32px auto 0;
  border-radius: 6px;
  background: rgb(85, 93, 249);
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 64px;
}
.section_introduce .link_introduce a {
  display: block;
}
@media screen and (max-width: 850px) {
  .section_introduce .link_introduce {
    height: 40px;
    min-width: 190px;
    margin: 24px auto 0;
    padding: 0 28px;
    font-size: 14px;
    line-height: 40px;
  }
}