@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2") format("woff2");
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  /* 기본적인 국문의 폰트패밀리 적용 */
  font-family: "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, NotoSans, "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
  color: #222222;
  letter-spacing: 0em;
  background-color: rgb(25, 26, 31);
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1263px) {
  body {
    zoom: 0.9;
  }
}
@media screen and (max-width: 1200px) {
  body {
    zoom: 0.9;
  }
}
@media screen and (max-width: 1100px) {
  body {
    zoom: 0.75;
  }
}
@media screen and (max-width: 1000px) {
  body {
    zoom: 0.7;
  }
}
@media screen and (max-width: 900px) {
  body {
    zoom: 0.65;
  }
}
@media screen and (max-width: 850px) {
  body {
    zoom: 1;
  }
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.error {
  visibility: hidden;
}
.error.display {
  visibility: visible;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  visibility: hidden;
}
.indicator.display {
  visibility: visible;
  position: fixed;
  background: rgb(25, 26, 31);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
}
.indicator.display .loader {
  animation: 1s ease-in-out -0.16s infinite normal none running loader-sync;
  background: rgb(113, 229, 215);
  color: rgb(113, 229, 215);
  font-size: 10px;
  height: 4em;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  transform: translateY(-50%);
  top: 50%;
  width: 1em;
}
.indicator.display .loader::before {
  animation: 1s ease-in-out -0.32s infinite normal none running loader-sync;
  background: rgb(113, 229, 215);
  content: "";
  height: 4em;
  left: -1.5em;
  position: absolute;
  top: 0px;
  width: 1em;
}
.indicator.display .loader::after {
  animation: 1s ease-in-out 0.08s infinite normal none running loader-sync;
  background: rgb(113, 229, 215);
  content: "";
  height: 4em;
  left: 1.5em;
  position: absolute;
  top: 0px;
  width: 1em;
}

.scroll-hide {
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 850px) {
  .inner {
    padding: 0px 16px;
    min-width: 320px;
    max-width: none;
  }
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100px;
}
#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}

.scrollTop {
  position: fixed;
  right: 12px;
  bottom: 20px;
  z-index: 1000;
  cursor: pointer;
}

@keyframes opacityAni {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
/* Custom, iPhone Retina : 320px ~ */
/* Extra Small Devices, Phones : 480px ~ */
/* Small Devices, Tablets : 768px ~ */
/* Medium Devices, Desktops : 992px ~ */
/* Large Devices, Wide Screens : 1200px ~ */
/*==========  Non-Mobile First Method  ==========*/
/* All Device */
/* Large Devices, Wide Screens : ~ 1200px */
/* Medium Devices, Desktops : ~ 992px */
/* Small Devices, Tablets : ~ 768px */
/* Extra Small Devices, Phones : ~ 480px */
/* Custom, iPhone Retina : ~ 320px */
@keyframes loader-sync {
  0%, 80%, 100% {
    box-shadow: 0px 0px;
    height: 4em;
  }
  40% {
    box-shadow: 0px -2em;
    height: 5em;
  }
}
.header {
  position: fixed;
  top: 0px;
  z-index: 10;
  color: rgb(255, 255, 255);
  width: 100%;
  background: rgba(25, 26, 31, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.header.mo_gnb-on {
  background-color: rgba(0, 0, 0, 0.9);
}
.header .inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .header .inner {
    height: 60px;
  }
}
.header .logo {
  width: 205px;
  height: 28px;
  background: url("../images/nbs_bi.svg") 0px 50%/205px no-repeat;
}
.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .gnb {
  height: 100%;
}
.header .gnb .nav-list {
  display: flex;
  height: 100%;
}
.header .gnb .nav-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}
.header .gnb .nav-item_title {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .gnb .nav-item_title span {
  margin-right: 80px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.header .gnb .sub-list {
  display: none;
  padding-bottom: 18px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.header .gnb .sub-list.on {
  display: block;
}
.header .gnb .sub-item {
  line-height: 18px;
  padding: 9px 0;
  font-size: 15px;
}
@media screen and (max-width: 850px) {
  .header .gnb {
    display: none;
  }
}
.header .group-area {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}
.header .group-area a {
  padding: 5px 8px 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 850px) {
  .header .group-area a {
    display: none;
  }
}
.header .group-area .search-btn {
  width: 38px;
  height: 38px;
  background-image: url("../images/sprite.svg");
  background-position: 22.186836518% 99.9201915403%;
  margin-right: 8px;
}
.header .group-area .search-btn.mo_gnb-on {
  background-position: 12.101910828% 99.9201915403%;
}
.header .group-area .profile-image {
  width: 32px;
  height: 32px;
  background-image: url("../images/profile-image.png");
  background-size: cover;
  border-radius: 50%;
}
.header .group-area .profile-image + .floating-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 0px;
  min-width: 186px;
  height: 342px;
  transition: height 0.1s ease 0s;
  padding: 22px 0px 22px;
  visibility: hidden;
  background: rgba(25, 26, 31, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  z-index: 10;
}
.header .group-area .profile-image + .floating-profile .hr {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  height: 1px;
  width: 100%;
  margin: 8px 0;
}
.header .group-area .profile-image + .floating-profile .information {
  padding-left: 22px;
  padding-right: 22px;
}
.header .group-area .profile-image + .floating-profile .information .greetings {
  margin-top: 12px;
}
.header .group-area .profile-image + .floating-profile .information .greetings .message {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.header .group-area .profile-image + .floating-profile .information .greetings .message strong {
  color: rgb(113, 229, 215);
}
.header .group-area .profile-image + .floating-profile .information > p {
  display: flex;
  align-items: center;
  height: 36px;
}
.header .group-area .profile-image + .floating-profile .information > p.my:before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 57.2478991597% 90.8091123331%;
  width: 18px;
  height: 18px;
}
.header .group-area .profile-image + .floating-profile .information > p.usage:before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 60.0840336134% 90.8091123331%;
  width: 18px;
  height: 18px;
}
.header .group-area .profile-image + .floating-profile .information > p.point:before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 74.1596638655% 92.2955974843%;
  width: 18px;
  height: 18px;
}
.header .group-area .profile-image + .floating-profile .information > p.reservation:before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 75.1050420168% 92.2955974843%;
  width: 18px;
  height: 18px;
}
.header .group-area .profile-image + .floating-profile .information > p.logout:before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 56.3025210084% 90.8091123331%;
  width: 18px;
  height: 18px;
}
.header .group-area .profile-image + .floating-profile .information > p .title {
  color: rgb(255, 255, 255);
  margin-left: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}
.header .group-area .profile-image:hover + .floating-profile {
  visibility: visible;
}
@media screen and (max-width: 850px) {
  .header .group-area .profile-image {
    display: none;
  }
}
.header .group-area .burgerBtn {
  display: none;
  background-image: url("../images/sprite.svg");
  background-position: 14.118895966% 99.9201915403%;
  width: 38px;
  height: 38px;
}
@media screen and (max-width: 850px) {
  .header .group-area .burgerBtn {
    display: block;
  }
  .header .group-area .burgerBtn.on {
    background-position: 10.08492569% 99.9201915403%;
  }
}

.floating-menu {
  display: none;
  border-top: 1px solid rgb(38, 42, 53);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.floating-menu.on {
  display: block;
}
.search .floating-menu {
  display: none;
}
.hov .floating-menu {
  display: none;
}
.floating-menu .inner {
  height: 52px;
}
@media screen and (max-width: 850px) {
  .floating-menu .inner {
    padding: 0;
    padding-right: 16px;
  }
}
.floating-menu .inner .swiper-wrapper {
  white-space: nowrap;
  font-size: 0;
  color: rgb(177, 181, 194);
}
.floating-menu .inner .swiper-slide {
  display: inline-block;
  width: auto;
  padding: 18px 0px 14px;
}
.floating-menu .inner .swiper-slide.on {
  color: rgb(113, 229, 215);
}
.floating-menu .inner .swiper-slide:nth-child(1) {
  padding-left: 16px;
}
.floating-menu .inner .swiper-slide a {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}
@media screen and (max-width: 850px) {
  .floating-menu .inner .swiper-slide a {
    font-size: 14px;
    line-height: 20px;
  }
}

.search-area {
  display: none;
  border-top: 1px solid rgb(38, 42, 53);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}
.search .search-area {
  display: block;
}
.hov .search-area {
  display: none;
}
.search-area .inner {
  padding: 16px 180px;
  position: relative;
}
@media screen and (max-width: 850px) {
  .search-area .inner {
    padding: 11px 55px 11px 17px;
  }
}
.search-area .input-inner {
  background-color: rgb(65, 71, 88);
  color: rgb(255, 255, 255);
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  height: 48px;
  padding: 12px 52px 10px;
}
@media screen and (max-width: 850px) {
  .search-area .input-inner {
    max-width: none;
    height: 38px;
    padding: 10px 35px 8px;
  }
}
.search-area .search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 850px) {
  .search-area .search-icon {
    top: 7px;
    left: 8px;
    width: 24px;
    height: 24px;
  }
}
.search-area input {
  display: block;
  font-weight: 400;
  width: 100%;
  height: 26px;
  line-height: 24px;
  font-size: 16px;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: 0px;
}
@media screen and (max-width: 850px) {
  .search-area input {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
}
.search-area .close-btn {
  position: absolute;
  top: 22px;
  right: 0px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .search-area .close-btn {
    right: 15px;
  }
  .search-area .close-btn::before {
    content: "취소";
  }
}
.search-area .close-btn svg {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 850px) {
  .search-area .close-btn svg {
    display: none;
  }
}

.mo_gnb_inner {
  display: none;
}
@media screen and (max-width: 850px) {
  .mo_gnb_inner {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 1000;
    padding: 11px 0px 80px 0;
    overflow-y: auto;
  }
  .mo_gnb_inner.isAct {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  .mo_gnb_inner .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mo_gnb_inner .nav-list:nth-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mo_gnb_inner .nav-list:nth-child(1) .nav-item_title {
    padding-bottom: 27px;
  }
  .mo_gnb_inner .nav-list:nth-child(1) .nav-item .sub-list {
    gap: 26px;
    padding: 20px 16px 20px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mo_gnb_inner .nav-list:nth-child(1) .nav-item .sub-item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mo_gnb_inner .nav-list:nth-child(1) .nav-item .sub-item_title::after {
    content: "";
    display: block;
    background: url("../images/sprite.svg") no-repeat;
    background-position: 95.5921402018% 86.3527533919%;
    width: 39px;
    height: 38px;
    transform: rotate(-90deg);
  }
  .mo_gnb_inner .nav-list:nth-child(1) .nav-item .sub-item .count {
    color: rgb(113, 229, 215);
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) {
    padding: 20px 0;
    gap: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) .sub-item {
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: rgb(25, 26, 31);
    color: rgb(177, 181, 194);
    height: 40px;
    padding: 0px 16px;
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) .sub-item:first-child {
    border-radius: 8px 8px 0px 0px;
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) .sub-item:last-child {
    border-radius: 0px 0px 8px 8px;
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) .sub-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mo_gnb_inner .nav-list:not(:nth-child(1)) .sub-item a::after {
    display: none;
  }
  .mo_gnb_inner .nav-item {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 100%;
  }
  .mo_gnb_inner .nav-item > a {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mo_gnb_inner .nav-item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mo_gnb_inner .nav-item_title::after {
    content: "";
    display: block;
    background: url("../images/sprite.svg") no-repeat;
    background-position: 95.5921402018% 86.3527533919%;
    width: 39px;
    height: 38px;
  }
  .mo_gnb_inner .nav-item_title.on::after {
    transform: rotate(180deg);
  }
  .mo_gnb_inner .nav-item_title .login {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .mo_gnb_inner .nav-item_title .login .profile-image {
    display: block;
    width: 56px;
    height: 56px;
    background-image: url("../images/profile-image.png");
    background-size: cover;
    border-radius: 50%;
  }
  .mo_gnb_inner .nav-item_title .login .greetings {
    display: flex;
    flex-direction: column;
  }
  .mo_gnb_inner .nav-item_title .login .message {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(177, 181, 194);
  }
  .mo_gnb_inner .nav-item_title .login .user-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .mo_gnb_inner .nav-item_title .login .user-name strong {
    color: rgb(113, 229, 215);
  }
  .mo_gnb_inner .nav-item .sub-list {
    display: none;
  }
  .mo_gnb_inner .nav-item .sub-list.on {
    display: flex;
    flex-direction: column;
    padding: 5px 16px 0px 16px;
  }
  .mo_gnb_inner .nav-item .sub-item {
    font-size: 18px;
    padding-left: 16px;
  }
  .mo_gnb_inner .nav-item .point {
    display: block;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    margin: 14px 0px 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 11px;
  }
}

/* footer */
.footer {
  background-color: black;
  color: rgb(177, 181, 194);
  padding: 80px 0;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 24px 0;
  }
  .footer .inner {
    min-height: 340px;
  }
}
.footer .bar {
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0px 12px;
  background-color: rgb(153, 153, 153);
  opacity: 0.4;
}
@media screen and (max-width: 850px) {
  .footer .bar {
    height: 12px;
  }
}
.footer .top-footer.pc {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.24);
}
@media screen and (max-width: 850px) {
  .footer .top-footer.pc {
    display: none;
  }
}
.footer .top-footer.pc .group-left {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .top-footer.pc .group-left .group-link .link-list {
  display: flex;
}
.footer .top-footer.pc .group-left .group-link .link-item {
  display: flex;
  align-items: center;
}
.footer .top-footer.pc .group-left .group-link .link-item a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
}
.footer .top-footer.pc .group-left .group-link .link-item:nth-child(1) {
  color: rgb(126, 133, 255);
}
.footer .top-footer.pc .group-left .group-link .link-item.flower a::before {
  content: "";
  display: block;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 2.016985138% 100%;
  width: 38px;
  height: 39px;
}
.footer .top-footer.pc .group-left .group-link .link-item.blog a::before {
  content: "";
  display: block;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 0 100%;
  width: 38px;
  height: 39px;
}
.footer .top-footer.pc .group-left .group-link .link-item.tv a::before {
  content: "";
  display: block;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 4.033970276% 100%;
  width: 38px;
  height: 39px;
}
.footer .top-footer.mo {
  display: none;
}
@media screen and (max-width: 850px) {
  .footer .top-footer.mo {
    display: block;
  }
}
.footer .top-footer.mo .info {
  margin-top: 22px;
}
.footer .top-footer.mo .info-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(177, 181, 194);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.footer .top-footer.mo .info-title:after {
  content: "";
  display: block;
  background: url("../images/sprite.svg");
  background-position: 84.3209229156% 89.2717306186%;
  width: 15px;
  height: 14px;
  transform: rotate(90deg);
}
.footer .top-footer.mo .info .address {
  display: none;
}
.footer .top-footer.mo .info.on .address {
  display: block;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}
.footer .top-footer.mo .info.on .address .paragraph {
  display: flex;
  flex-direction: column;
}
.footer .top-footer.mo .info.on .address .paragraph span {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(124, 130, 150);
}
.footer .top-footer.mo .info.on .info-title:after {
  transform: rotate(-90deg);
}
.footer .top-footer.mo .link-customer {
  display: flex;
  align-items: center;
  width: 217px;
  height: 39px;
  padding: 1px 12px 0px 18px;
  margin-top: 10px;
  border: 1px solid rgb(38, 42, 53);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(177, 181, 194);
}
.footer .top-footer.mo .link-customer::after {
  content: "";
  display: block;
  background: url("../images/sprite.svg");
  background-position: 84.3209229156% 89.2717306186%;
  width: 15px;
  height: 14px;
}
.footer .related {
  border: 1px solid rgb(38, 42, 53);
  border-radius: 4px;
  padding: 1px 12px 0px 16px;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .footer .related {
    width: 113px;
    padding: 1px 12px 0px 12px;
  }
}
.footer .related-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media screen and (max-width: 850px) {
  .footer .related-title {
    line-height: 34px;
    height: 34px;
    gap: 0;
  }
}
.footer .related-title:after {
  content: "";
  display: block;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 73.1578947368% 92.5137903861%;
  width: 22px;
  height: 22px;
}
.footer .related .related-list {
  display: none;
}
.footer .related.on {
  background: #fff;
  color: #000;
}
.footer .related.on .related-title:after {
  transform: rotate(45deg);
}
.footer .related.on .related-list {
  display: block;
  width: 230px;
  position: absolute;
  bottom: 12px;
  right: 0;
  transform: translateY(-27px);
  background: #fff;
  z-index: 1;
  overflow-y: scroll;
  padding: 18px;
}
.footer .related.on .related-list > * + * {
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 10px;
  margin-top: 10px;
}
.footer .related.on .related-list .related-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer .bottom-footer.pc {
  margin-top: 32.5px;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 850px) {
  .footer .bottom-footer.pc {
    display: none;
  }
}
.footer .bottom-footer.pc .paragraph {
  display: flex;
}
.footer .bottom-footer.pc .address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
  color: rgb(124, 130, 150);
}
.footer .bottom-footer.pc .address span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer .bottom-footer.pc .link-customer {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  border: 1px solid rgb(38, 42, 53);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  padding: 1px 12px 0px 16px;
}
.footer .bottom-footer.pc .link-customer::after {
  content: "";
  display: block;
  background: url("../images/sprite.svg") no-repeat;
  background-position: 84.3209229156% 89.2717306186%;
  width: 15px;
  height: 14px;
}
.footer .bottom-footer.mo {
  display: none;
}
@media screen and (max-width: 850px) {
  .footer .bottom-footer.mo {
    display: block;
    margin-top: 47px;
  }
}
.footer .bottom-footer.mo .link-list {
  display: flex;
  flex-direction: column;
}
.footer .bottom-footer.mo .link-list .link-item ul {
  display: flex;
}
.footer .bottom-footer.mo .link-list .link-item ul li a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.footer .bottom-footer.mo .link-list .link-item ul li a.term {
  color: rgb(126, 133, 255);
}
.footer .bottom-footer.mo .related {
  margin-top: 14px;
}

.container {
  margin-top: 155px;
}
@media screen and (max-width: 850px) {
  .container {
    margin-top: 90px;
  }
}
.container > * + * {
  margin-top: 92px;
}
@media screen and (max-width: 850px) {
  .container > * + * {
    margin-top: 56px;
  }
}
.container .title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}
@media screen and (max-width: 850px) {
  .container .title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 850px) {
  .swiper.pc {
    display: none;
  }
}
.swiper.mo {
  display: none;
}
@media screen and (max-width: 850px) {
  .swiper.mo {
    display: block;
  }
  .swiper.mo .swiper-slide {
    width: auto !important;
  }
  .swiper.mo .swiper-slide .image-box {
    width: 242px;
    height: 136px;
  }
}
.swiper .swiper-slide {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.swiper .swiper-slide .link-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.swiper .swiper-slide .image-box .save-text {
  display: none;
}
.swiper .swiper-slide .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: opacityAni 5s forwards;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.swiper .swiper-slide .image-box.on .save-text {
  animation: opacityAni 5s forwards;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  word-break: keep-all;
  overflow-wrap: break-word;
  border-radius: 38px;
  padding: 15px 24px;
  max-width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .image-box.on .save-text {
    font-size: 14px;
  }
}
.swiper .swiper-slide .image-box.on::before {
  opacity: 1;
}
.swiper .swiper-slide .text-box {
  padding: 24px 16px;
  background: rgb(38, 42, 53);
  gap: 8px;
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .text-box {
    padding: 16px 17px 16px 12px;
  }
}
.swiper .swiper-slide .text-box strong {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 48px;
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .text-box strong {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
}
.swiper .swiper-slide .text-box .bottom {
  margin-top: auto;
}
.swiper .swiper-slide .desc {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(177, 181, 194);
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
@media screen and (max-width: 850px) {
  .swiper .swiper-slide .desc {
    margin-top: 8px;
  }
}
.swiper .swiper-slide .short-desc {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(177, 181, 194);
  display: flex;
}
.swiper .swiper-slide .short-desc span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 128px;
}
.swiper .swiper-slide .short-desc > * + *::before {
  content: " ・ ";
}
.swiper .swiper-slide .bookmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  z-index: 1;
  background-image: url("../images/sprite.svg");
  background-position: 6.050955414% 99.9201915403%;
}
.swiper .swiper-slide .bookmark.save {
  background-position: 8.067940552% 99.9201915403%;
}
.swiper .swiper-slide.link-more {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  width: 384px;
  height: 352px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
}
.swiper .swiper-slide.link-more p::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/ic_right_hor.png") no-repeat;
  background-size: contain;
  margin-bottom: 16px;
}
.swiper .swiper-slide.link-more span {
  color: rgb(113, 229, 215);
}

.text-box-mo {
  display: none;
}
.text-box-mo.on {
  position: relative;
  left: 50%;
  transform: translate(-50%, -24%);
  width: 328px;
  padding: 85px 12px 16px 12px;
  background: rgb(38, 42, 53);
  border-radius: 8px;
}
@media screen and (max-width: 850px) {
  .text-box-mo.on {
    display: block;
  }
}
.text-box-mo.on strong {
  display: block;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-box-mo.on .desc {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: rgb(177, 181, 194);
}
.text-box-mo.on .short-desc {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(177, 181, 194);
}
.text-box-mo.on .short-desc > * + *::before {
  content: " ・ ";
}

.tag {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  border: 1px solid rgb(110, 114, 193);
  border-radius: 4px;
  color: rgb(126, 133, 255);
  height: 22px;
  padding: 0px 7px;
}
.tag-list {
  display: flex;
  gap: 7px;
}
@media screen and (max-width: 850px) {
  .tag-list {
    margin-top: 8px;
    gap: 6px;
  }
}
@media screen and (max-width: 850px) {
  .tag {
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    padding: 0px 5px;
    height: 20px;
  }
}

.content {
  position: relative;
}
.content .prev {
  display: none;
}
@media screen and (max-width: 850px) {
  .content .prev {
    display: none;
  }
}
.content .prev.on {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  background: url("../images/ic_nav-next.png") 0px 0px/48px 48px no-repeat;
  width: 48px;
  height: 48px;
  transform: translateY(-50%) rotate(-180deg);
  left: -24px;
}
@media screen and (max-width: 850px) {
  .content .prev.on {
    display: none;
  }
}
.content .prev.swiper-button-disabled {
  display: none;
}
.content .next {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  background: url("../images/ic_nav-next.png") 0px 0px/48px 48px no-repeat;
  width: 48px;
  height: 48px;
  right: -24px;
  transform: translateY(-50%);
}
@media screen and (max-width: 850px) {
  .content .next {
    display: none;
  }
}
.content .next.swiper-button-disabled {
  display: none;
}

.section-personal {
  width: 100%;
}
.section-personal .title {
  margin-bottom: 24px;
}
.section-personal .title strong {
  color: rgb(113, 229, 215);
}
.section-personal .function-area {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area {
    flex-direction: column;
    gap: 16px;
  }
}
.section-personal .function-area div {
  background: #f00;
  border-radius: 8px;
  padding: 40px;
  width: 588px;
  min-height: 276px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div {
    width: 100%;
    min-height: 188px;
    padding: 20px 16px 25px;
    gap: 0;
  }
}
.section-personal .function-area div.left {
  background: url("../images/bg_login_01.png") 50% 50%/100% 100% no-repeat;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div.left {
    background: url("../images/bg_login_01_mo.png") 50% 50%/cover no-repeat;
  }
}
.section-personal .function-area div.right {
  background: url("../images/bg_login_02.png") 50% 50%/100% 100% no-repeat;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div.right {
    background: url("../images/bg_login_01_mo.png") 50% 50%/100% 100% no-repeat;
  }
}
.section-personal .function-area div .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div .title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
.section-personal .function-area div .desc {
  font-size: 16px;
  line-height: 24px;
  color: rgb(177, 181, 194);
  font-weight: 400;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div .desc {
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
  }
}
.section-personal .function-area div a {
  background: rgb(0, 0, 0);
  border-radius: 6px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: auto;
  padding: 0px 30px;
  max-width: 180px;
  min-height: 48px;
  font-size: 15px;
  line-height: 48px;
}
@media screen and (max-width: 850px) {
  .section-personal .function-area div a {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    min-height: 20px;
    line-height: 20px;
    padding: 10px;
  }
}

.section-onlineEducation .tab-area {
  overflow: scroll;
  -ms-overflow-style: none;
  justify-content: center;
}
.section-onlineEducation .tab-area::-webkit-scrollbar {
  display: none !important;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-area {
    display: flex;
  }
}
.section-onlineEducation .tab-list {
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section-onlineEducation .tab-list::-webkit-scrollbar {
  display: none;
}
.section-onlineEducation .tab-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}
.section-onlineEducation .tab-item a span {
  font-size: 16px;
  line-height: 24px;
  white-space: normal;
  text-align: center;
  color: rgb(177, 181, 194);
}
.section-onlineEducation .tab-item a span br {
  display: none;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item a {
    width: 56px;
    margin: 0 10px;
  }
  .section-onlineEducation .tab-item a span {
    min-width: 80px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .section-onlineEducation .tab-item a span br {
    display: block;
  }
}
.section-onlineEducation .tab-item[data-tab="#online1"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online1.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online1"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online2"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online2.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online2"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online3"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online3.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online3"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online4"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online4.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online4"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online5"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online5.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online5"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online6"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online6.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online6"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online7"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online7.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online7"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item[data-tab="#online7"] a br {
  display: block;
}
.section-onlineEducation .tab-item[data-tab="#online8"] a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online8.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item[data-tab="#online8"] a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item#all a:before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/online9.png") 50% 0px/cover;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .tab-item#all a:before {
    width: 56px;
    height: 56px;
    margin-bottom: 6px;
  }
}
.section-onlineEducation .tab-item.on {
  border-bottom: 2px solid rgb(113, 229, 215);
}
.section-onlineEducation .tab-item.on a {
  font-weight: 700;
  color: rgb(113, 229, 215);
}
.section-onlineEducation .content-area {
  padding: 40px 10px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .content-area {
    padding: 0;
    padding-top: 20px;
  }
}
.section-onlineEducation .content {
  display: none;
}
.section-onlineEducation .content.on {
  display: block;
  position: relative;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .swiper .swiper-slide {
    width: auto !important;
    margin-right: 16px !important;
  }
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .swiper .swiper-slide .slide {
    position: relative;
    width: 258px;
  }
}
.section-onlineEducation .desc {
  display: none;
}
@media screen and (max-width: 850px) {
  .section-onlineEducation .desc {
    display: -webkit-box;
  }
}

.section-lineUp {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 850px) {
  .section-lineUp {
    margin-top: 0;
  }
}
.section-lineUp .title {
  display: flex;
  align-items: center;
}
.section-lineUp .title .tooltip {
  background-image: url("../images/sprite.svg");
  background-position: 93.5106382979% 86.6987179487%;
  width: 42px;
  height: 43px;
  position: relative;
  cursor: pointer;
}
.section-lineUp .title .tip {
  display: none;
}
.section-lineUp .title .tip.on {
  display: block;
  position: absolute;
  top: 30px;
  left: -100%;
  z-index: 3;
  transform: translateX(-34%);
  background-image: url("../images/sprite.svg");
  background-position: 0 96.5209634255%;
  width: 404px;
  height: 170px;
}
@media screen and (max-width: 850px) {
  .section-lineUp .swiper .swiper-slide {
    width: auto !important;
  }
}
@media screen and (max-width: 850px) {
  .section-lineUp .swiper .swiper-slide .slide {
    position: relative;
    width: 312px;
  }
}
.section-lineUp .text-box {
  padding: 24px 16px 0;
}
@media screen and (max-width: 850px) {
  .section-lineUp .text-box {
    padding: 16px 12px;
  }
}
.section-lineUp .short-desc {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.section-lineUp .more-btn {
  position: relative;
  width: 100%;
  text-align: left;
  z-index: 10;
  padding: 16px 0px 0px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.section-lineUp .more-btn::before {
  content: "";
  display: block;
  background-image: url("../images/sprite.svg");
  background-position: 73% 92.3%;
  width: 12.7px;
  height: 13.5px;
}
@media screen and (max-width: 850px) {
  .section-lineUp .more-btn {
    padding: 0;
    padding-top: 17px;
  }
}
.section-lineUp .more-btn.active {
  display: none;
}
.section-lineUp .more-area {
  display: none;
}
.section-lineUp .more-area.active {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  max-height: 999em;
}
.section-lineUp .more-title {
  color: rgb(177, 181, 194);
}
.section-lineUp .more-content {
  margin-top: 4px;
  min-height: 40px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-banner .image-box.pc img {
  width: 100%;
  height: 160px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 850px) {
  .section-banner .image-box.pc {
    display: none;
  }
}
.section-banner .image-box.mo {
  display: none;
  margin: 0 auto;
  width: 328px;
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (max-width: 850px) {
  .section-banner .image-box.mo {
    display: block;
  }
}
.section-banner .image-box.mo img {
  height: 80px;
  max-width: 100%;
}

.section-newEducation .title span {
  color: rgb(113, 229, 215);
}

@media screen and (max-width: 850px) {
  .section-notice {
    margin-top: 0;
  }
}
.section-notice .title {
  margin-bottom: 8.5px;
}
.section-notice .notice-list {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 850px) {
  .section-notice .notice-list {
    flex-direction: column;
  }
}
.section-notice .notice-item {
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  padding: 22px 16px;
  background: url("../images/bg_notice_pc.png") 50% 50%/cover no-repeat;
}
@media screen and (max-width: 850px) {
  .section-notice .notice-item {
    padding: 16px;
    height: 128px;
  }
  .section-notice .notice-item .tag-list {
    margin-top: 0;
  }
  .section-notice .notice-item strong {
    display: block;
    min-height: 40px;
    font-size: 14px;
    line-height: 19px;
  }
}
.section-notice .notice-item a {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 850px) {
  .section-notice .notice-item a {
    gap: 8px;
  }
}
.section-notice strong {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.section-notice .date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(177, 181, 194);
}
.section-notice .link-more {
  display: block;
  max-width: 384px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 15px;
  padding: 15px 30px;
  background: rgb(0, 0, 0);
  border-radius: 6px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .section-notice .link-more {
    min-width: 100%;
    height: 48px;
    font-size: 15px;
    font-weight: normal;
    padding: 8px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-introduce {
  background: rgb(0, 0, 0);
}
@media screen and (max-width: 850px) {
  .section-introduce {
    margin-top: 70px;
  }
}
.section-introduce .inner {
  min-height: 320px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg_banner-image.jpg");
  background-size: cover;
}
@media screen and (max-width: 850px) {
  .section-introduce .inner {
    position: relative;
    padding: 58px 16px;
    min-height: 264px;
    background: url("../images/bg_main_intro_mo.png") 50% 50%/cover no-repeat;
  }
  .section-introduce .inner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
}
.section-introduce .title {
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
}
@media screen and (max-width: 850px) {
  .section-introduce .title {
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
}
.section-introduce .title br:nth-child(2) {
  display: none;
}
@media screen and (max-width: 850px) {
  .section-introduce .title br:nth-child(2) {
    display: block;
  }
}
.section-introduce a {
  display: block;
  background: rgb(85, 93, 249);
  border-radius: 6px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 0px 32px;
  height: 64px;
  min-width: 234px;
  font-size: 18px;
  line-height: 64px;
  margin: 32px auto 0px;
}
@media screen and (max-width: 850px) {
  .section-introduce a {
    position: relative;
    z-index: 1;
    margin: 24px auto 0px;
    padding: 0px 28px;
    height: 40px;
    min-width: 190px;
    font-size: 14px;
    line-height: 40px;
  }
}